@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    color: hsl(0, 6%, 24%);
}
.container{
    display: grid;
    justify-items: center;
    text-align: center;

}
.text-red{
    color: hsl(0, 36%, 70%);
}
.logo{
    margin: auto;
    padding: 2rem;
    min-width: 23rem;
   
}

.logo img{
    display: block;
    text-align: left;
    height: 1.25rem;
}
.hero-desktop{
    display: none;
}
.main-text{
    margin: 0 2rem;
    font-size: 0.9rem;
}
.main-text h1{
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    margin-top: 4rem;
}
.main-text span{
    display: block;
    font-weight: 300;
}
.main-text p{
    margin: auto;
    max-width: 430px;
    margin-top: 1rem;
    line-height: 1.5;
}
form{
    margin: auto;
    margin-top: 2rem;
    height: 3.26rem;
    width: 19.4rem;
    position: relative;
}

.input-email{
    width: 100%;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 0.9rem;
    padding: 1em;
    background: transparent;
    border-radius: 1.6rem;
    border: 1px solid hsl(0, 36%, 70%);
    
}
.input-email:focus{
    border: 2px solid hsl(0, 78%, 65%);
    outline: none;
    
}

::placeholder{
    color:hsl(0, 36%, 70%);
    
}
.error-icon{
    display: block;
    text-align: center;
    background: hsl(0, 78%, 65%);
    color: white;
    font-weight: 700;
    padding: 0.2rem;
    width: 1.2rem;
    height: 1.2rem;
    line-height: 1.2rem;
    border-radius: 50%;
    position: absolute;
    top: 0.8rem;
    right: 4.4rem;
    visibility: hidden;

}
.error-msg{
    color:hsl(0, 79%, 68%);
    font-size: 0.7rem;
    margin-top: 0.5rem;
    margin-left: 2rem;
    visibility: hidden;
}
form.error .error-msg{
    visibility: visible;
}
form.error .error-icon{
    visibility: visible;
}
.btn{
    
    height: 2.9rem;
    padding: 1em 1.9em;
    position: absolute; 
    top: 0;
    right: 0;
    border: none;
    border-radius: 1.25rem;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 0px 16px 24px -2px hsla(0, 36%, 70%, 0.7)
}
.btn:hover{
    cursor: pointer;
    background: hsl(0, 80%, 86%);
}
.btn:focus-visible{
    outline: none;
    border: 2px solid hsl(0, 78%, 65%);
}

.attribution{ 
    justify-self: center;
    font-size: 0.7rem; 
    text-align: center; 
    margin-top: 3rem;
}

.attribution a{ 
    color: hsl(228, 45%, 44%); 
}


@media(min-width: 1050px){
body{
    min-height: 100vh;
}
.container{
    margin: auto;
    max-width: 1440px;
    background-image: url(images/bg-pattern-desktop.svg);
    background-position:top left;
    background-repeat: no-repeat;
    grid-template-columns: repeat(2, 1fr);
    
   
}
.logo{
    justify-self: left;
    margin-top: 3rem;
    margin-left: 10rem;
}
.logo img{
    height: 35px;
}
.main-text{
    text-align: left;
    margin-left: 10rem;
    justify-self: left;
    grid-column: 1;
    grid-row: 2;
    max-width: 430px;
    font-size: .9rem;
}
.main-text h1{
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 1rem;
    margin-top: 4rem;
}
.main-text p{
    margin:0;
    margin-top: 2rem;
    line-height: 1.8;
}
form{
    margin: 2rem 0 ;
    width: auto;
   
}
.input-email{
    font-size: 1rem;
    padding: 1rem;
}
.error-icon{
    position: absolute;
    top: 1rem;
    right: 6rem;
    visibility: hidden;
}
.btn{
    
    height: 3.2rem;
    padding: 1rem 2.5rem;
}
.pic{
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 4;
    
}

.hero-mobile{
    display: none;
}
.hero-desktop{
    display: block;
    min-height: 100vh;
}


}



